<a href="https://colab.research.google.com/github/Navinaa-21/CODSOFT/blob/main/Copy_of_Basic_Syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HOW TO PRINT

for print a string use " " or ' ' but not " ' or ' "

In [ ]:
print("Machine Learning")

Machine Learning

CONCATENATION OF STRING

In [ ]:
print("Machine Learning"+" project")

Machine Learning project

In [ ]:
print(9)

9

In [ ]:
print(20+20)

40

Types:
int
float
str
complex
boolean

In [ ]:
#INTEGER
a = 8
print(a)
type(a)

8

int

In [ ]:
#FLOAT
b = 2.3
print(b)
type(b)

2.3

float

In [ ]:
#COMPLEX NUMBER
c = 1+3j
print(c)
type(c)

(1+3j)

complex

In [ ]:
#CONCATINATION
x = float(a)
type(x)

float

In [ ]:
#BOOLEAN
d = True
print(d)
type(d)

e = False
print(e)
type(e)

True
False

bool

In [ ]:
a = 7 < 3
print(a)

b = 7 > 3
print(b)

False
True

In [ ]:
#STRING
print("Machine Learning")
print('Machine Learning')

Machine Learning
Machine Learning

In [ ]:
print("HELLO "*5)

HELLO HELLO HELLO HELLO HELLO

In [ ]:
#SLICING
name = "PYTHONNN"
print(name[0:7]) #values of index starts at 0th index, and printed before the given last index

PYTHONN

In [ ]:
#STEP
print(name[0:7:1]) #step of 1
print(name[0:7:2]) #step of 2

PYTHONN
PTON

# CONSTANTS AND VARIABLES

Value of variables can't be changed for constants

In [ ]:
superhero = "Iron man"
print(superhero)

Iron man

In [ ]:
superhero = "Captain America"
print(superhero)

Captain America

In [ ]:
hero1, hero2, hero3 = "Iron man", "Captain America", "Thor"
print(hero1)
print(hero2)
print(hero3)

Iron man
Captain America
Thor

In [ ]:
x = y = z = 37
print(x)
print(y)
print(z)

37
37
37

In [ ]:
number_1 = int(input("Enter the first number: "))
number_2 = int(input("Enter the second number: "))

sum = number_1 + number_2
print(sum)

Enter the first number: 45
Enter the second number: 45
90

In [ ]:
#changing the data type
num = 5
type(num) #str
float(num)
print(type(num))

<class 'int'>

# OBJECTS

**Types of Objects:**
Mutable,
Immutable

**Mutable Objects:**
int,
float,
string,
bool,
tuple

**Immutable Objects:**
List,
Set,
Dictionary

In [ ]:
#LIST - Should be included in [] bracket, can store multiple values, can have multiple data types, mutable
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [ ]:
lis = [2,3,"English",True]
print(lis)

[2, 3, 'English', True]

In [ ]:
lis.append(37)
print(lis)

[2, 3, 'English', True, 37]

In [ ]:
#PRINT ELEMENT OF A LIST USING THEIR INDEX
print(lis[0])

2

In [ ]:
#LIST ALLOWS DUPLICATE VALUES
lis.append(2)
print(lis)

[2, 3, 'English', True, 37, 2]

In [ ]:
#CHECK THE SIZE OF THE LIST
print(len(lis))

6

In [ ]:
#EMPTY LIST
lis2 = []
print(lis2)

[]

In [ ]:
#DELETE AN ITEM IN A LIST
del lis[2]
print(lis)

[2, 3, True, 37, 2]

In [ ]:
#JOIN TWO LIST OR CONCATENATE
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8]